<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ genero.nome }}</title>
</head>
<body>
    <header><h1>{{ genero.nome }}</h1></header>
    <div class="container">
        {% for f in filmes %}
        <a href="/player?t={{ f.titulo }}&l={{ f.link }}" class="filme-item">{{ f.titulo }}</a>
        {% endfor %}
    </div>
    <div style="text-align: center;"><a href="/" style="color: #fff;">Voltar</a></div>
</body>
</html>
