<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>.float { position: fixed; bottom: 20px; right: 20px; background: #ff1493; padding: 15px; border-radius: 50%; color: white; text-decoration: none; }</style>
</head>
<body>
    <h3>{{ filme.titulo }}</h3>
    <iframe src="{{ filme.link }}" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
    <a href="{{ filme.rave }}" class="float">Mágica</a>
    <br><a href="/">Voltar</a>
</body>
</html>
